body {
  background-color: #67734D;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:#908DF2;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 18px;
  font-size: 30px;
  background-color: none;
  color: #908DF2;
}

h2{
  text-align: left;
  font-size: 30px;
 font-family: 'KoHo', sans-serif;
  color:pink;
}
.description{
  margin: auto;
width: 60%;
border: 5px solid #72C1F2;
padding: 10px;
}

.mySelf{
text-align: left;
font-size: 18px;
font-family: 'KoHo', sans-serif;
color:#F28F79;
}

p a{
  color:#908DF2;
}

.project{
  text-align: left;
  font-size: 18px;
  font-family: 'KoHo', sans-serif;
  color:#F2BC57;
}

img {
  padding-left: 100px;
}
.title{
  margin: auto;
 width: 60%;
/* border: 5px solid #FFFF00; */
 padding: 10px;

}
